#root {
  height:100%;
  width: 100%;
}


@media (max-width:768px){


    .maindiv {
      border: 0px solid blue;
      
      text-align: center;
      background-color: #f3f3f3;
      min-height: 92vh; /* el resto de la pantalla */
    }

  .footer-div {
    position: fixed;
    bottom: 0;
    
    width: 95%;
    height: 8vh;
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-left: 2.5%;

    border-radius: 10px;
  }
  .footer-subdiv_l{
    border: 0px solid blue;
    display: flex;
    width: 100%;
    height:100%;
    padding: 5px 5px 5px 5x;
    align-items: center;
    justify-content: center;
  }
  .footer-subdiv_r{
    border-left: 2px solid rgb(202, 202, 202);
    display: flex;
    width: 100%;
    height:100%;
    padding: 5px 5px 5px 5x;
    align-items: center;
    justify-content: center;
  }


  .footerLogo{
    
    
  }



}

