@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body, html{
    font-family: 'Poppins', sans-serif; 
   background: #f6f6f6;
    color: #3F3F3F;

    margin: 0;
    padding: 0;
    background-image: url('../src/assets/fondo.png');
    
    background-position: center center; /* Centra la imagen en el viewport */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* ¡Esta es la clave para que la imagen se quede fija! */
}


input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}



ul{
    list-style-type: none;
    font-size:10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}