

@media (max-width:768px){
    .graph{
        margin-top: -7vh;
        border: 0px solid black;
        height: 23vh;
        
        position: relative;
        top: auto;
        
    }
    .infoVots{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3%;
        margin-top: -11vh;
    }
    .TarjaProp{
        background-color: white;
        border-radius: 10px;
        border: 1px solid rgb(211, 211, 211);
        margin: 5% 10% 5% 10%;
    }



}